@import "tailwindcss";
:root {
    --bgHome: #273144;
    --colorText: #ffffff;
    --colorText2: #92dbed;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #181e2a;
}

@utility container {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: clamp(1rem, 4vw, 3rem);
}
@layer {
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* animate move right */
.animate-move-right {
    animation: moveRight 0.5s linear infinite alternate;
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(8px);
    }
}